#name {
    position: absolute;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    top: 1vw;
    right: 84vw;
}

#birthdate {
    position: absolute;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    top: 1vw;
    right: 69vw;
}