#onesleep {
    list-style: square;
    padding-top: 6.25vw;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    padding-bottom: 0.25vw;
    width: 23.5vw;
    top: -6vw;
    position: relative;
}

#nosleep {
    padding-top: 4vw;
    color: black;
    font-style: italic;
    list-style: square;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#sleeps {
    width: 25vw;
    border-radius: 5%;
    height: 24vw;
    right: 0.4%;
    top: 4vw;
    position: absolute;
    background-color: #c5d6e9;
    color: black;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

#imagesleep {
    height: 4vw;
    width: 4vw;
    position: relative;
    margin-right: 20vw;
}

h1 {
    padding-top: 0.8vw;
    font-weight: bold;
    font-size: 2.5em;
    top: -6vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#titresleep {
    position: relative;
    height: 4vw;
}

.notdonesleep {
    background-image: linear-gradient(45deg, #8b8b8b 25%, transparent 25%, transparent 75%, #8b8b8b 75%, #8b8b8b), linear-gradient(45deg, #8b8b8b 25%, transparent 25%, transparent 75%, #8b8b8b 75%, #8b8b8b);
    background-size: 3px 3px;
    background-position: 0 0, 4px 4px;
    right: 2vw;
    position: relative;
}